.container1 {
  /* grid-column: 2 / 3; */
  background-color: white;
  height: 95vh;
  width: 25vw;
  border: 0px;
  padding: 12px;
  overflow-y: hidden;
  /* margin-top: ; */

  margin-left: 12px;
  margin-right: 12px;
  border-radius: 10px;
}
/**/
.Btn {
  width: 130px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: rgb(15, 15, 15);
  border: none;
  color: white;
  font-weight: 600;
  gap: 8px;
  cursor: pointer;
  box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.103);
  position: relative;
  overflow: hidden;
  margin-top: 12px;
  transition-duration: .3s;
}

.svgIcon {
  width: 16px;
}

.svgIcon path {
  fill: white;
}

.Btn::before {
  width: 130px;
  height: 130px;
  position: absolute;
  content: "hello";
  background-color: white;
  border-radius: 50%;
  left: -100%;
  top: 0;
  transition-duration: .3s;
  mix-blend-mode: difference;
}

.Btn:hover::before {
  transition-duration: .3s;
  transform: translate(100%,-50%);
  border-radius: 0;
}

.Btn:active {
  transform: translate(5px,5px);
  transition-duration: .3s;
}



.container2 {
  border-radius: 10px;
  overflow-y: scroll;
  background-color: rgb(230, 226, 226);
  height: 62vh;
  padding-right: 7px;
  padding-top: 7px;
  margin-top: 7px;
  
}
h5 {
  overflow-y: hidden;
}
.container3 {
  border-radius: 10px;
  overflow-y: hidden;
  background-color: rgb(230, 226, 226);
  margin-top: 5px;
}
.container4 {
  margin-top: 10px;
  /* margin-bottom: 0px; */
}
.img {
  height: 10vh;
  /* margin: 4px; */
  width: 6vw;
  border-radius: 12px;
  /* margin-left: 0; */
  /* position: absolute;
    left: 0; */
}
.close {
  border: 0px;
  display: relative;
  background-color: transparent;
  /* display: flex;
    justify-content: flex-end;
    align-items: flex-start; */
}
.modal{
  z-index: 1;
  border:3px double lightskyblue;
  width: 70vw;
  height:auto;
  position: fixed;
  top: 0;
  left: 0;
  margin: 5% 15%;
  background-color:#fff;

}
/* .modal_content{

} */
#modal_header{
  display: flex;
  flex-direction: row;
  padding: 12px;
  justify-content:space-between;
  margin-bottom: 0;
}
.modal_body{
  display: flex;
  flex-direction: row;

}
.modal_body1{
  padding: 0 0 5% 5%;
  width: 45vw;
}
.modal_body11{
  display: flex;
  flex-direction: row;
  padding: 1%;
  justify-content: space-around;
}
.paymethods{
  justify-content: space-around;
  padding: 1%;
  display: flex;

}
#payment{
  width: 20vw;
  height: 5vh;
  margin-bottom: 8%;


}
#discount{
  width: 13vw;
  height: 5vh;
  margin-bottom: 8%;
}
.modal_body2{
  width: 25vw;
}
.table1{
  border: 2px solid lightgray;
  width: 23vw;
  height: 21vh;
  
}
tr, td{
  
  border: 2px solid lightgray;
}
.dialpad{
  width:23vw
}
.table2{
  border: 5px solid black;
  margin: 10px auto;
}
.table2 td{
  width: 12vw;
  text-align: center;
  vertical-align: middle;
  height: 12vh;
}
.close3{
background-color: transparent;
border: none;
position:flex;
align-items:end;
/* right:0 */
}
.paidAmount{
  border: none;
  background-color: transparent;
}
.paidAmount:focus{
  outline: none;
}
.table{
  width: 100vw;
}
.table2 tr,td{
  cursor: pointer;

}
.closeButton {
  display: absolute;
  right: 0;
  top: 0;
  height: min-content;
}
.adddelete {
  display: absolute;
  bottom: 0;
  right: 10px;
  height: min-content;

  border: 1px solid black;
}
.close1 {
  display: absolute;
  bottom: 0;
  right: 0px;
  background-color: transparent;
  border: 0px;
  width: 1.4vw;
}
.close2 {
  width: 1.4vw;
  border: 0px;
  display: absolute;
  bottom: 0;
  right: 0px;
  margin: 0px;
  background-color: transparent;
}
.close1:hover {
  background-color: #4d4d4d4d;
  color: white;
}
.close2:hover {
  background-color: #4d4d4d4d;
  color: white;
}
span {
  border: 0px;
  height: 12px;
  width: 23px;
  display: contents;
}
/* text-align: right; */

pre {
  margin-bottom: 0px;
}
.hello {
  width: 22vw;
  background-color: white;
  margin-top: 8px;
  border-radius: 12px;
  position: relative;
}
.list {
  display: flex;
  margin-bottom: 0;
  padding-left: 0;
  /* margin: 2px 10px 2px 2px; */
  width: 90vw;
}
ul li h5,
p {
   margin-left: 22px; 
  /* position: absolute;
    left: 0; */
}
.number {
  width: 35px;
  margin: 0;
  margin-right: 0;
  align-items: center;
}
.adddelete {
  position: absolute;
  bottom: 0px;
}
.closeButton {
  position: absolute;
  top: 0px;
}
.price{
  display: flex;
  flex-direction: row;
}
.price p{
  margin: 1%;
}
input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}
h6{
  overflow-y: hidden;
}
/* input[type=number] {
  -moz-appearance: textfield;
} */

@media (max-width: 1024px){
.img{
  height: 13vh;
}
ul li h5,p{
  margin-left: 2px;
}
.hello{
  width: 21vw;
}
.adddelete{
  right: 0px;
}
.number{
  width: 25px;
  /* margin-right: 0; */
}
.modal{
  width: 90vw;
  margin: 5% 5% auto 5%;
}
.modal_body1{
  width: 54vw;
}
.table1{
  width: 34vw;
}
.dialpad{
  width: 34vw;
  
}
.modal_body2{
  width: 35vw;
  
}
}
@media (max-width: 768px) {
  ul li h5,p{
    margin-left: 10px;
  }
.container1{
  width: 95%;
  height: 100vh;
}
.hello{
  width:97% ;
}
.close1{
  width: 4vw;
}
.close2{
  width: 4vw;
}
.img{
  width: 18vw;
  height: 16vh;
}
.number{
  width: 35px;
  /* margin-right: 0; */

}
.modal_body{
  display: flex;
  flex-direction: column;

}
.modal_body1{
  width: 90vw;
}
#discount{
  width: 24vw;
  margin-top: 1%;
}
.modal_body2{
  width: 90vw;

}
.table1{
  width: 84vw;
  margin: auto 3%;
  overflow-y: hidden;
}

.dialpad{
  width: 90vw;
}
#payment{
  width: 31vw;
}
}

@media (max-width: 426px) {
  .modal_body11 {
    flex-direction: column;
  }
  .modal{
    overflow-y: scroll;
    height: 90vh;
  }
  .table1{
    overflow-y: hidden;
  }
  .table2{
    width: 62vw;
  }
  
  #discount{
    width: 54vw;
  }
  .paymethods{
    flex-direction: column;
  }
  #payment{
    width: 54vw;
    border: 2px solid #c9c9c9;
  }

}


